.optionPills{
    font-size: 1.5em;
    padding: 0.4em;
    background-color: #3780AE;
    color: #fff;
    box-shadow: 3px 3px 3px #ababab;
    text-align: center;
    margin: 0.2em;
    margin-top: 2em;
    margin-bottom: 2em;
    cursor: pointer;
    line-height: 3em;
}

.answerPills{
    font-size: 1.5em;
    padding: 0.4em;
    background-color: #3780AE;
    color: #fff;
    box-shadow: 3px 3px 3px #ababab;
    text-align: center;
    margin: 0.2em;
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 3em;
    cursor: pointer;
}

.mart{
    margin-top: 2em;
}

.part{
    padding-top: 1em;
    padding-bottom: 1em;
}

.part2{
    padding-top: 2em;
    padding-bottom: 2em;
}

.correct{
    background-color: #349646;
    color: #fff;
    padding: 0.3em;
    margin: 0.3em;
}

.incorrect{
    background-color: #AC4435;
    color: #fff;
    padding: 0.3em;
    margin: 0.3em;
}